#!/usr/bin/make -f

%:
	dh $@ --buildsystem cargo

override_dh_auto_clean:
	git clean -fdx

override_dh_auto_build:
	cargo build --release

override_dh_auto_test:
	true

override_dh_auto_install:
	install -d debian/sequoia-chameleon-gnupg/usr/bin/sequoia
	cargo install --path=. --root=debian/sequoia-chameleon-gnupg/usr
	ln -s ../sequoia-chameleon-gpg debian/sequoia-chameleon-gnupg/usr/bin/sequoia/gpg
	ln -s ../sequoia-chameleon-gpgv debian/sequoia-chameleon-gnupg/usr/bin/sequoia/gpgv
	find debian/sequoia-chameleon-gnupg -name ".crates*" -delete
